@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Tambahan agar aplikasi terasa seperti Native App di HP */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Menghilangkan kedipan biru saat tombol ditekan di layar sentuh HP */
  -webkit-tap-highlight-color: transparent; 
}

/* Menyembunyikan scrollbar agar tampilan lebih bersih seperti aplikasi */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
